[submodule "libretro-2048"]
	path = libretro-2048
	url = https://github.com/madcock/libretro-2048
	branch = master
[submodule "stella2014-libretro"]
	path = libretro-stella2014
	url = https://github.com/madcock/stella2014-libretro
[submodule "libretro-handy"]
	path = libretro-handy
	url = https://github.com/madcock/libretro-handy
[submodule "jaxe"]
	path = jaxe
	url = https://github.com/madcock/jaxe
[submodule "Gearcoleco"]
	path = Gearcoleco
	url = https://github.com/madcock/Gearcoleco
[submodule "FreeChaF"]
	path = FreeChaF
	url = https://github.com/madcock/FreeChaF
[submodule "retro8"]
	path = retro8
	url = https://github.com/madcock/retro8
[submodule "vaporspec"]
	path = vaporspec
	url = https://github.com/madcock/vaporspec
[submodule "gong"]
	path = gong
	url = https://github.com/madcock/gong
[submodule "libretro-pocketcdg"]
	path = libretro-pocketcdg
	url = https://github.com/madcock/libretro-pocketcdg
