[submodule "libretro-2048"]
	path = libretro-2048
	url = https://github.com/madcock/libretro-2048
	branch = master
[submodule "stella2014-libretro"]
	path = stella2014-libretro
	url = https://github.com/madcock/stella2014-libretro
